/* Universal */

html {
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.50rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

p, a {
  font-size: 1.25rem;
}

#main-content {
  max-width: 100%;
  line-height: 1.2;
  position: relative;
  top: 4rem;
}

@media only screen and (min-width: 480px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
}

/* Header */

header {
  height: 4rem;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem 0 1.5rem;
  position: fixed;
  z-index: 100;
  width: auto;
  right: 0;
  left: 0;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 2.75rem;
  padding-right: 0.25rem;
}

header .logo h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

header .logo span {
  color: lightgrey;
}

header nav.desktop ul {
  display: flex;
  align-items: baseline;
}

header nav.desktop li {
  padding-left: 1rem;
}

header nav.desktop a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 480px) {
  header nav.desktop a:hover {
    color: green;
  }

  header nav.desktop a:active {
    color: red;
  }
}

@media only screen and (max-width: 480px) {
  header .logo {
    display: none;
  }

  header nav.mobile {
    flex-grow: 1;
  }

  header nav.mobile ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Banner */

#banner {
  display: flex;
  align-items: center;
  background-color: lightgrey;
}

.banner-image {
  overflow: hidden;
  max-width: 60%;
  padding: 2rem 2rem 2rem 1.5rem;
}

.banner-image img {
  max-width: 100%;
  height: auto;
}

.banner-content {
  max-width: 20%;
}

.banner-content h1, .banner-content h2 {
  padding-bottom: 2rem;
}

.banner-content .button {
  color: white;
  background-color: black;
  padding: .5rem 0;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

.banner-content a {
  text-decoration: none;
}

@media only screen and (min-width: 480px) {
  .banner-content .button:hover {
    background-color: green;
  }

  .banner-content .button:active {
    background-color: red;
  }
}

/* Info */

#info {
  display: flex;
}

.quote {
  max-width: 60%;
  padding: 2rem 1.5rem;
  overflow: hidden;
  border-right: 1px solid lightgrey;
}

.quote img {
  max-width: 100%;
  height: auto;
}

.quote h1 {
  padding: 2rem 0 1.5rem 0;
}

.quote .reference {
  padding-top: 2rem;
}

.info-content {
  max-width: 40%;
}

.date, .campus, .guest {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.date {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid lightgrey;
}

.campus, .guest {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.guest {
  background-color: lightgrey;
}

.date-image, .campus-image, .guest-image {
  max-width: 35%;
  overflow: hidden;
}

.info-content img {
  max-width: 100%;
  height: auto;
}

.date-content, .campus-content, .guest-content {
  padding-left: 1rem;
  max-width: 50%;
}

.info-content p {
  padding: .5rem 0;
}

.info-content a {
  text-decoration: none;
  color: blue;
}

@media only screen and (min-width: 480px) {
  .info-content a:hover {
    color: green;
  }

  .info-content a:active {
    color: red;
  }
}

/* Courses */

#courses {
  padding: 2rem 3.5rem;
  background-color: lightgrey;
}

#courses h1 {
  text-align: center;
}

#courses .desktop .row {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

#courses .desktop .course {
  margin: 0 1rem;
  background-color: white;
  max-width: 31%;
}

#courses .desktop .course-image {
  width: 100%;
  overflow: hidden;
}

#courses .desktop .course-image img {
  max-width: 100%;
  height: auto;
}

#courses .desktop .course-info {
  padding-left: 1rem;
}

#courses .desktop h2 {
  padding: 1rem 0;
}

#courses .row.top .course-content {
  padding-top: .5rem;
  padding-bottom: 1.5rem;
}

#courses .row.bottom .course-content {
  padding-top: .5rem;
  padding-bottom: 3rem;
}

/* Thesis */

#thesis {
  padding: 2rem 0;
}

.thesis-container {
  display: flex;
}

#thesis h1 {
  text-align: center;
  padding-bottom: 2rem;
}

.thesis-1 {
  max-width: 60%;
  overflow: hidden;
  padding: 0 1.5rem;
}

.thesis-1 video {
  max-width: 100%;
  height: auto;
}

.thesis-1 h2 {
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}

.thesis-2 {
  max-width: 40%;
}

.thesis-info {
  padding: 1rem 0 1rem 1rem;
  display: flex;
  align-items: center;
}

.thesis-info.fisma {
  background-color: lightgrey;
}

.thesis-image {
  max-width: 35%;
  overflow: hidden;
}

.thesis-image img {
  max-width: 100%;
  height: auto;
}

.thesis-content {
  padding-left: 1rem;
}

.thesis-content p {
  padding-top: .5rem;
}

/* Footer */

footer {
  font-size: .75rem;
  display: flex;
  padding: 1rem 1rem 2rem 1.5rem;
  border-top: 1px solid black;
}

footer .copyright {
  flex-grow: 1;
}

footer .terms span {
  padding-left: 1rem;
}

footer .terms a {
  text-decoration: none;
  color: blue;
}

@media only screen and (min-width: 480px) {
  footer .terms a:hover {
    color: green;
  }

  footer .terms a:active {
    color: red;
  }
}
