/* Universal */

html {
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

#main-content {
  max-width: 100%;
  line-height: 1.2;
  position: relative;
  top: 4rem;
}

@media only screen and (min-width: 480px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
}

/* Header */

header {
  height: 4rem;
  background-color: white;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem 0 1.5rem;
  position: fixed;
  z-index: 100;
  width: auto;
  right: 0;
  left: 0;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 2.75rem;
  padding-right: 0.25rem;
}

header .logo h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

header .logo span {
  color: grey;
}

header nav.desktop ul {
  display: flex;
  align-items: baseline;
}

header nav.desktop li {
  padding-left: 1rem;
}

header nav.desktop a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 480px) {
  header nav.desktop a:hover {
    color: green;
  }

  header nav.desktop a:active {
    color: red;
  }
}

@media only screen and (max-width: 480px) {
  header .logo {
    display: none;
  }

  header nav.mobile {
    flex-grow: 1;
  }

  header nav.mobile ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* Banner */

#banner {
  display: flex;
  align-items: center;
  background-color: grey;
}

.banner-image {
  overflow: hidden;
  max-width: 60%;
  padding: 2rem 2rem 2rem 1.5rem;
}

.banner-image img {
  max-width: 100%;
  height: auto;
}

.banner-content {
  max-width: 20%;
}

.banner-content h1, .banner-content h2 {
  padding-bottom: 2rem;
}

.banner-content .button {
  color: white;
  background-color: black;
  padding: .5rem 0;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

.banner-content a {
  text-decoration: none;
}

@media only screen and (min-width: 480px) {
  .banner-content .button:hover {
    background-color: green;
  }

  .banner-content .button:active {
    background-color: red;
  }
}
